@media print {
  @page {
    size: A4;
    font-family: open sans, Helvetica, Arial, sans-serif; 
  }
  #so.page-show {
    visibility: visible;
    margin: 0px !important;
    padding: 0px !important;
    display: block;
  }
  .so-pages { 
    letter-spacing: .48px;
    width: 21cm; /* A4 width */
    height: 29.7cm; /* A4 height */
    /* margin: 0px !important; */
    /* padding: 0px !important; */
    padding-inline: 0.15in;
    padding-block: 8mm;
    /* margin: 1cm; Margins */
    /* padding: 1cm; */
    /* page-break-after: always;    */
    /* position: absolute; */
    /* left: 0;  */
    /* top: 0;  */
    box-shadow: none !important;
    border-radius: 0px !important;
    font-family: open sans, Helvetica, Arial, sans-serif; 
  } 

  
  .so-pages .ant-table-wrapper .ant-table-thead >tr>th, 
  .so-pages .ant-table-wrapper .ant-table-thead >tr>td { 
    background-color: #ffffff;
    color: #000000;
  }

  .page-break {
    page-break-before: always; 
  }
}
 
  #so.page-show {
    ---width-padding-param : 4mm;
    ---width-param : 0mm;
    ---width-items : calc( 21cm - var(---width-param) );
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    overflow: auto;
    padding: 1rem;
    /* background-color: #d9d9d9; */
  }

  #so .title-preview { 
    width: calc( 21cm + (var(---width-padding-param) * 2) ); /* A4 width */
    box-sizing: border-box;
  }

  #so .layout-preview {
    padding: var(---width-padding-param);
    width: calc( 21cm + (var(---width-padding-param) * 2) ); /* A4 width */
    /* min-height: 29.7cm;*/
    height: auto; 
    /* min-height: 29.7cm; */
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 1px #c5c7c5;
    border-radius: 4px;
    background-color: #fff;
    letter-spacing: 0px; 
    color: #000;
    position: relative;
  }

  .so-pages {
    ---color--1 : #508ecc;
    position: relative;
    width: 21cm;
    min-height: 29.7cm;
  }

  .so-pages .print-logo {
    position: absolute;
    right: 1.5mm;
    top: 1.5mm;
    left: auto;
  }
  
  .so-pages .print-title {
    width: 100%;
    /* border-bottom: 2px solid var(---color--1); */
  }

  .so-pages .print-title p {
    margin-bottom: .234rem;
  }

  /* .so-pages .print-head .print-title { 
    border-bottom: 2px solid #eb313b;
  } */

  .so-pages .print-foot .print-title { 
    border-top: 2px solid var(---color--1);
  }
  
  .so-pages .print-head{
    width: 100%;
    position: relative;
    /* height: 26.8mm; */
    padding: 1.4mm;
    border-bottom: 0px solid #000;  
    display: flex;
  }
  
  .so-pages .print-head-content{
    width: 100%;
    position: relative;
    height: 28mm; 
    padding-block: 1.4mm;
    padding-inline: 1.4mm;
    border-bottom: 0px solid #000; 
    display: inline-flex;
    flex-direction: column;
  }
  
  .so-pages .print-foot{
    width: 100%;
    position: relative;
    /* height: 40mm;  */
    padding-block: 1.4mm;
    padding-inline: 1.4mm; 
    /* bottom: 12px; */
    /* left: 0; */
    display: flex;
  }
  
  .so-pages .print-content {
    width: 100%;
    position: relative;
    /* height: 211.34mm;  */
    display: flex;
    flex-direction: column;
    padding-block: 1.4mm;
    padding-inline: 1.4mm;
    border-bottom: 0px solid #000;  
  }
  
  .so-pages .th-text{
    font-size: 13pt;
    font-weight: 700; 
  }
  
  .so-pages .ts-text{
    font-size: 10pt;
    font-weight: 700; 
  }
  
  .so-pages .h-group-text {
    font-weight: 600;
    display: flex; 
    font-size: 10pt;
  }
  
  .so-pages span.h-label {
    width: 180px;
  }
  
  .so-pages .h-group-text span {
    line-height: 1.5rem;
  }
  
  .so-pages .h-title {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
  }
  
  .so-pages  .print-layout .c-text{
    display: flex;
    align-items: flex-start;
    font-size: 10pt;
    font-weight: 400;
  }
  
  .so-pages .tx-form{
    font-size: 11px;
    line-height: 18px;
  }
  
  .so-pages .sec-item {
    width: var(---width-items);
    display: flex;
    flex-direction: column;
  }
  
  
  .so-pages .sec-parm {
    width: var(---width-param);
    display: flex;
    flex-direction: column;
  } 

  .so-pages .ant-typography {
    font-family: inherit; 
    box-sizing: border-box;
    vertical-align: top;
  }
  
  .so-pages .ant-card {
    border-radius: 0;
    box-shadow: none; 
    font-family: inherit !important;
  }

  .so-pages [class^="ant-table"], .so-pages [class*=" ant-table"] {
    font-family: inherit;
    font-size: 14px;
    box-sizing: border-box;
  }
  .so-pages .ant-table-wrapper .ant-table {
    font-family: inherit;
  
  }


  .so-pages .ant-table-wrapper .ant-table-thead >tr>th { 
    border-left: 1px solid;
    border-bottom: 1px solid;
    /* border-top: 1px solid; */
    font-size: 11px;
  }

 /* .so-pages .ant-table-wrapper .ant-table-tbody>tr:first-child{
    height: 20px;
  } */

  .so-pages .ant-table-wrapper .ant-table-thead>tr>th:nth-child(7){
    border-right: 0px solid;
  }
  .so-pages .ant-table-wrapper .ant-table-thead>tr>th:nth-child(1){
    border-left: 0px solid;
  }

  .so-pages .text-sm { 
    color: #242121; 
  }
 
  .so-pages .ant-table-wrapper .ant-table-container table>tbody>tr:not(:last-child) >td {
    height: 5px;
  }
  
  .so-pages .ant-table-wrapper .ant-table-container table>tbody{
    height: 590px;
  }
  
  .so-pages .ant-table-wrapper .ant-table-tbody >tr >td {
    transition: none;
    border-bottom: 0px solid #f0f0f0;
    white-space: break-spaces;
    font-size: 11px;
    vertical-align: top;
    max-height: 10px;
  }
  .so-pages .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
    border-start-start-radius: 0px;
   
  }

  .so-pages .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
    border-start-end-radius: 0px;
    
  }
 



.so-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-title, 
.so-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-footer, 
.so-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-cell, 
.so-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-thead>tr>th,
.so-pages .ant-table-wrapper .ant-table.ant-table-small tfoot>tr>th, 
.so-pages .ant-table-wrapper .ant-table.ant-table-small tfoot>tr>td {
  padding: 2px 6px;
  font-family: inherit;
  transform: unset !important;
}

.so-pages tr.ant-table-row.ant-table-row-level-0.r-sub td { 
  border-left: 0.5px solid ;
}


.so-pages .ant-card.ant-card-small >.ant-card-head {
    min-height: 30px;
    padding: 0 2px;
    padding-inline-start: 6px;
    font-size: 10.8pt;
    border-radius: 0;
}

.so-pages .ant-card-bordered {
    border: 0px solid #f0f0f0;
    border-radius: 0px;
}

.so-pages .ant-card .ant-card-head, 
.so-pages .ant-card .ant-card-body {
  padding: 0px;
}

.so-pages .tx-title {
  font-size: 14px;
  font-family: inherit;
}

.so-pages .tx-info {
  font-size: 12px;
  font-family: inherit;
}

.so-pages .tx-sub {
  font-size: 11px;
  line-height: 1.4rem;
  font-family: inherit;
}

